// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.form-select{
    width: 46%;
    margin-left: 12px;
}
.controls {
    display: flex;
}
.bg-logo{
    // background-origin: border-box;
    // display: block;
    // margin-left: auto;
    // margin-right: auto;
    // width: 100%;
    background: url('http://localhost/cs/public/images/ac.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 40rem !important;
    
    
}
.container{
    opacity: 0.9;
}