// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.form-select{
    width: 46%;
    margin-left: 12px;
}
.controls {
    display: flex;
}